/* Header Style */
nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131318;
font-size: 2rem;
font-weight: 800;
}
nav > ul{
    display: flex;
    padding: 10px 0px;
    padding-right: 40px;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
    
}
nav li a{
    text-decoration: none;
    color:  #424247;
}
/* Main STyle */
.banner-img{
    background-image: url(../Images/Group\ 40.png);
    background-repeat: no-repeat;
    
}
.banner-content{
    align-items: center;
    justify-content: center;

}
.popular-tour{
    display: flex;
    padding: 100px 135px;
    gap: 20px;
    
}
.btn-primary{
    background-color: orangered;
    border: transparent;
    border-radius: 16px;
    color: #FFF;
    text-align: center; 
    font-size: 15px;
}
.tour-img{
    width: 540px;
height: 100px;
}
.destination-div{
    text-align: center;
}
/* .destination-img{
    padding-right: 50px;
    padding-left: 50px;
    display: grid;
    grid-template-columns:repeat(2, 1fr) ;
} */
.destination-img1{
display: grid;
gap: 12px;
padding: 0 40px;
}
.choose-us{
    text-align: center;
}
.choose-section{
    display: flex;
    justify-content: space-between;
    padding: auto;
}
.choose-1{
    background-color: aqua;
    border-radius: 16px;
}
.choose-2{
    background-color: blanchedalmond;
    border-radius: 16px;
}
.Choose-last{
    display: flex;
   justify-content: center;
   background-color: cadetblue;
   padding: 10px 150px;
}
.deals-discount{
    
}
.deals-title{
    text-align: center;
}
.deals-description{

}
.first-deals{
    background-image: url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
}
/* jk */
.Perfect-Place{display: flex;
justify-content: space-between;
padding:30px 80px;
}
.main-last{
    display: flex;
    justify-content: space-between;
    padding:30px 80px;
}
.newsletter{
    border: 1px solid orangered;
    text-align: center;
    gap: 20px;
}
.input{
padding: 10px 30px;
box-shadow: #424247;
background: rgba(19, 19, 24, 0.05);
border-radius: 8px;

}
.news-btn{
    background-color: orangered;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;

}

/* footer */
.footer{
    background-color: rgb(144, 157, 153);
    text-align: center;
    border-radius: 16px;
    padding: 0 70px;
    
}
.footer-title{
    text-align: center;
}
.social-link{
    text-align: center;
    padding: 30px;
}
.Rights{
    text-align: center;
}
